<li class="pc-item pc-caption">
  <label>Dashboard</label>
  <i class="ti ti-dashboard"></i>
</li>
<li class="pc-item">
  <a href="../dashboard/index.html" class="pc-link"><span class="pc-micon"><i class="ti ti-dashboard"></i></span><span
      class="pc-mtext">Dashboard</span></a>
</li>
<li class="pc-item pc-caption">
  <label>UI Components</label>
  <i class="ti ti-dashboard"></i>
</li>
<li class="pc-item">
  <a href="../elements/bc_typography.html" class="pc-link"><span class="pc-micon"><i
        class="ti ti-typography"></i></span><span class="pc-mtext">Typography</span></a>
</li>
<li class="pc-item">
  <a href="../elements/bc_color.html" class="pc-link"><span class="pc-micon"><i
        class="ti ti-brush"></i></span><span class="pc-mtext">Color</span></a>
</li>
<li class="pc-item">
  <a href="../elements/icon-tabler.html" class="pc-link"><span class="pc-micon"><i
        class="ti ti-leaf"></i></span><span class="pc-mtext">Tabler</span></a>
</li>
<li class="pc-item pc-caption">
  <label>Authentication</label>
  <i class="ti ti-news"></i>
</li>
<li class="pc-item">
  <a href="../pages/login.html" class="pc-link"><span class="pc-micon"><i class="ti ti-login"></i></span><span
    class="pc-mtext">Login</span></a>
</li>
<li class="pc-item">
  <a href="../pages/register.html" class="pc-link"><span class="pc-micon"><i class="ti ti-user-plus"></i></span><span
    class="pc-mtext">Register</span></a>
</li>
<li class="pc-item pc-caption">
  <label>Support</label>
  <i class="ti ti-brand-chrome"></i>
</li>
<li class="pc-item"><a href="../other/sample-page.html" class="pc-link"><span class="pc-micon"><i
        class="ti ti-brand-chrome"></i></span><span class="pc-mtext">Sample page</span></a></li>