// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    primary: #1890ff
  ),
  preset-2: (
    primary: #3366ff
  ),
  preset-3: (
    primary: #7265e6
  ),
  preset-4: (
    primary: #068e44
  ),
  preset-5: (
    primary: #3c64d0
  ),
  preset-6: (
    primary: #f27013
  ),
  preset-7: (
    primary: #2aa1af
  ),
  preset-8: (
    primary: #00a854
  ),
  preset-9: (
    primary: #009688
  )
);
$dark-bg-color: #121212;